.cell-phone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 590px;
  width: 288px;
  background-image: url('/assets/images/cell-phone.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: auto;
  flex-direction: column;

  .cell-phone-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #eeeeee;
    background-size: cover;
    background-position: center;
  }

  .cell-phone-name {
    width: 60%;
    text-align: center;
    border-radius: 8px;
    height: 18px;
    color: var(--dark-grey);
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.placeholder {
      background-color: #eeeeee;
    }
  }

  .cell-phone-email {
    text-align: center;
    color: var(--grey);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cell-phone-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 310px;
    overflow: auto;
    padding: 0 10px;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: none;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--light-gray);
      border-radius: 10px;
      border: 2px solid #f4f4f4;
    }

    * {
      scrollbar-width: thin;
    }
  }
}
