<section class="login-container">
  <div class="login-header">
    <img ngSrc="assets/images/devLinkLogo.png" alt="Devlinks Logo" class="login-header-logo" width="30" height="30"/>

    <h1 class="login-header-title">devlinks</h1>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2 class="login-form-heading">Login</h2>

    <p class="login-form-description">
      Add your details below to get back into the app
    </p>

    <div class="form-group" [class.error]="emailError && submitted">
      <label for="email">Email address</label>

      <div
        class="input-container"
        [class.error]="emailError && submitted">
        <span class="icon-mail"></span>

        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="e.g. alex@email.com"/>

        <span class="error" *ngIf="emailError && submitted">{{ emailError }}</span>
      </div>
    </div>

    <div class="form-group" [class.error]="passwordError && submitted">

      <label for="password">Password</label>

      <div
        class="input-container"
        [class.error]="passwordError && submitted">
        <span class="icon-lock"></span>

        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Enter your password"/>

        <span class="error" *ngIf="passwordError && submitted">{{ passwordError }}</span>
      </div>
    </div>

    <button type="submit" class="login-form-button">
      Login
    </button>

    <p class="login-form-footer">
      Don’t have an account?
      <a routerLink="/register" class="login-form-link">Create account</a>
    </p>
  </form>
</section>
