$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-clip: "\e900";
$icon-img: "\e901";
$icon-link-stack-overflow: "\e902";
$icon-link-codewars: "\e903";
$icon-link-devto: "\e904";
$icon-link-facebook: "\e907";
$icon-link-free-code-camp: "\e908";
$icon-link-frontend-mentor: "\e909";
$icon-link-github: "\e90a";
$icon-link-gitlab: "\e90b";
$icon-link-hashnode: "\e90c";
$icon-link-linked-in: "\e90d";
$icon-link-twitch: "\e90e";
$icon-link-twitter: "\e90f";
$icon-link-youtube: "\e910";
$icon-lock: "\e911";
$icon-mail: "\e912";
$icon-profile: "\e913";

